<footer>
    <p class="icons">
        <a href="https://www.linkedin.com/in/redbulb/">
            <i class="fa-brands fa-linkedin"></i>
        </a>
        <a href="mailto:rk3057987@gmail.com">
            <i class="fa-regular fa-envelope"></i>
        </a>
        <a href="https://www.instagram.com/kabirkh_">
            <i class="fa-brands fa-instagram" style="color: #1c5ffa;"></i>
        </a>
    </p>
    
</footer>